body {
  font-family: "NunitoSans-Variable", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  color: #0e0d0d;
  background-color: #fdfdf0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-big {
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #0e0d0d;
  border-radius: 96px;
  padding: 19px 97px 19px 38px;
  position: relative;
  color: #fff;
  width: 242px;
}
