.footer {
  background-color: #0e0d0d;
  padding: 100px 0;
  color: #fff;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-right: 100px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    border-top: 1px solid #fff;
    font-size: 14px;
  }
  &__element-title {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    padding-inline-start: 40px;
  }
  &__item-address{
    font-style: normal;
  }
}

.footer__item + .footer__item{
    padding-top: 15px;
}
